params {
    sampleSheet = 'samples.csv' // Path to the sample sheet
    //refGenomePathOrUrl = '/myPAth/Homo_sapiens.GRCh38.dna.primary_assembly.fa' // Path to the reference genome (or URL)
    refGenomePathOrUrl = "https://ftp.ensembl.org/pub/release-113/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz"
    outdir = 'results' // Output directory
    docker = true // or set to false if Docker should not be used by default
}


if (params.docker) {
    process {
        withName:STARIndex {
            container = 'quay.io/biocontainers/star:2.6.1d--0'
        }
            withName:AlignReads {
            container = 'quay.io/biocontainers/star:2.6.1d--0'
        }

    }

    docker {
        enabled = true
    }

}
