params {
    sampleSheet = 'samples.csv' // Path to the sample sheet
    //refGenomePathOrUrl = '/myPAth/Homo_sapiens.GRCh38.dna.primary_assembly.fa' // Path to the reference genome (or URL)
    refGenomePathOrUrl = "https://ftp.ensembl.org/pub/release-113/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz"
    outdir = 'results' // Output directory
}


profiles {
  docker {
    docker.enabled = true
    docker.runOptions = "--user=root"
    docker.fixOwnership = true
  }
}
